<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{1,1},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HazardTwo.png</string>
            <key>size</key>
            <string>{62,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eeb0523b01fb26c1278fa5224502385:8c718b5e82d2c7dab5849339335f1c2b:0ccec2f2fdfa1d6613bb9f86d66e84a0$</string>
            <key>textureFileName</key>
            <string>HazardTwo.png</string>
        </dict>
    </dict>
</plist>
