<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PlayButtonSelected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,120}</string>
                <key>spriteSourceSize</key>
                <string>{240,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{240,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlayButtonSelected.png</string>
            <key>size</key>
            <string>{242,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89262687cfc568bd67f7844dd8da36e5:5596ea8e1bde6921a7dbe4e880fb1494:c1cff5c624bd09a9853f9233565ffc85$</string>
            <key>textureFileName</key>
            <string>PlayButtonSelected.png</string>
        </dict>
    </dict>
</plist>
